@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap");
body {
  background: #f5f7ff;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', sans-serif;
}

.main-container {
  background: white;
  width: 30%;
  min-width: 450px;
  height: auto;
  border-radius: 1.5em;
  padding: 0px;
  -webkit-box-shadow: 4px 4px 20px #c7d1eb;
          box-shadow: 4px 4px 20px #c7d1eb;
  margin: auto;
}

.main-container img {
  width: 100%;
  border-radius: 24px 24px 0px 0px;
}

.white-below {
  padding: 32px;
  text-align: center;
}

.white-below h2 {
  font-size: 32px;
  color: #1f2f56;
}

.white-below .description {
  color: #7280a7;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 500;
  width: 70%;
  margin: auto;
}

.plan {
  background: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  width: 80%;
  padding: 10px;
  border-radius: 1em;
}

.plan .plan-div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.plan .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan .plan-name {
  font-size: 1em;
  font-weight: bolder;
  line-height: 2em;
}

.plan .plan-price {
  font-size: 1em;
  color: #7280a7;
}

.plan .text-cta {
  font-size: 1em;
  color: #3829e0;
}

.plan .text-cta:hover {
  color: #756bdb;
}

.plan img {
  width: 3em;
}

.plan ul {
  margin-left: -20px;
  position: relative;
  list-style-type: none;
}

.pry-cta {
  color: white;
  font-size: 1em;
  font-family: inherit;
  background: #3829e0;
  display: block;
  margin: auto;
  width: 85%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: .5em;
  cursor: pointer;
  -webkit-box-shadow: 4px 8px 20px #c7d1eb;
          box-shadow: 4px 8px 20px #c7d1eb;
}

.pry-cta:hover {
  background: #756bdb;
}

.sec-cta {
  background: white;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: #7280a7;
  display: block;
  margin: auto;
  width: 80%;
  height: 48px;
  padding: 10px;
  border: none;
  border-radius: .5em;
  margin-top: 16px;
  cursor: pointer;
}

.sec-cta:hover {
  color: #1f2f56;
}

footer {
  display: none;
  position: relative;
  bottom: 20px;
  font-size: .8em;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .main-container {
    background: white;
    min-width: 350px;
    max-width: 450px;
    height: auto;
    border-radius: 1em;
    padding: 0px;
    -webkit-box-shadow: 4px 4px 20px #c7d1eb;
            box-shadow: 4px 4px 20px #c7d1eb;
    margin: auto;
  }
  .main-container img {
    width: 100%;
    border-radius: 1em 1em 0em 0em;
  }
  .main-container h2 {
    font-size: 1.5em;
  }
  .main-container .description {
    width: 80%;
  }
  .main-container .plan {
    width: 85%;
  }
  .main-container .plan img {
    width: 24px;
  }
  .main-container .plan .plan-name, .main-container .plan .plan-price, .main-container .plan .text-cta {
    font-size: .8em;
    text-align: left;
  }
  .main-container button {
    width: 90%;
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */